In [12]:
import pandas as pd
import sqlalchemy

In [13]:
engine = sqlalchemy.create_engine('sqlite:///cryptostream.db')

In [28]:
df = pd.read_sql('Crypto', engine)
display(df)

,time,symbol,close,high,low,volume,trade
0,2023-01-26 11:09:59.999,BTCUSDT,22915.5600,22945.0000,22895.4800,714.44009,19105.0
1,2023-01-26 11:09:59.999,ETHUSDT,1601.3300,1602.9500,1599.1700,941.93750,1641.0
2,2023-01-26 11:09:59.999,BNBUSDT,303.3000,303.6000,302.8000,828.53700,728.0
3,2023-01-26 11:09:59.999,NEOUSDT,8.1500,8.2300,8.1500,5888.02000,385.0
4,2023-01-26 11:09:59.999,QTUMUSDT,2.6650,2.6880,2.6640,16671.30000,262.0
...,...,...,...,...,...,...,...
112,2023-01-26 12:09:59.999,QTUMUSDT,2.6420,2.6480,2.6370,1781.90000,24.0
113,2023-01-26 12:09:59.999,ADAUSDT,0.3742,0.3746,0.3741,402076.10000,234.0
114,2023-01-26 12:09:59.999,XRPUSDT,0.4116,0.4122,0.4115,670556.00000,409.0
115,2023-01-26 12:09:59.999,EOSUSDT,1.0890,1.0910,1.0870,112864.60000,188.0
116,2023-01-26 12:09:59.999,IOTAUSDT,0.2258,0.2259,0.2253,23528.00000,48.0